# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# Mac system files
.DS_Store

# IDEs and editors
.vscode/

# Build directories
dist/
build/
